* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Area";
}

.center {
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
}

.header {
  min-height: 800px;
  min-width: 1440px;
  background-color: #E1FF8F;
}
.header__stars {
  position: absolute;
}
.header__welc {
  max-width: 769px;
  max-height: 156px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  vertical-align: middle;
  padding-top: 196px;
  padding-left: 120px;
}
.header__desc {
  max-width: 720px;
  max-height: 64px;
  font-family: "Montserrat";
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 32px;
  vertical-align: middle;
  padding-top: 24px;
  padding-left: 120px;
}
.header__btn-link {
  padding-left: 120px;
}
.header__btn {
  min-width: 247px;
  min-height: 66px;
  margin-top: 64px;
  border-radius: 60px;
  border-width: 1px;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 16px;
  padding-left: 28px;
  background-color: #202027;
  color: white;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 600;
}
.header__btn:hover {
  background-color: transparent;
  color: black;
}
.header__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 51px;
  min-width: 3220px;
  margin-top: 168px;
  margin-left: -49px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 49px;
  background-color: #BCEC30;
  position: absolute;
}
.header__footer-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 4%;
  vertical-align: middle;
  text-transform: uppercase;
}

.games {
  background-color: #202027;
  min-height: 1470px;
  min-width: 1440px;
}
.games__heading {
  color: #FFFFFF;
  position: absolute;
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  padding-top: 94px;
  padding-left: 119px;
}
.games__heading-mob {
  display: none;
}
.games__description {
  color: #FFFFFF;
  position: absolute;
  padding-top: 196px;
  padding-left: 119px;
  max-width: 788px;
  max-height: 96px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.games__cards {
  position: absolute;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: none;
  margin-top: 364px;
  margin-left: 119px;
  z-index: 1;
  grid-auto-flow: row;
}
.games__cards-position {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.games__cards-one {
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 378px;
  height: 473px;
  transition: transform 0.5s;
}
.games__cards-one:hover {
  transform: scale(1.1);
}
.games__cards-two {
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 378px;
  height: 551px;
  transition: transform 0.5s;
}
.games__cards-two:hover {
  transform: scale(1.1);
}
.games__cards-three {
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 378px;
  height: 473px;
  transition: transform 0.5s;
}
.games__cards-three:hover {
  transform: scale(1.1);
}
.games__cards-four {
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 378px;
  height: 551px;
  transition: transform 0.5s;
}
.games__cards-four:hover {
  transform: scale(1.1);
}
.games__cards-five {
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 378px;
  height: 473px;
  transition: transform 0.5s;
}
.games__cards-five:hover {
  transform: scale(1.1);
}
.games__cards-six {
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 378px;
  height: 551px;
  transition: transform 0.5s;
}
.games__cards-six:hover {
  transform: scale(1.1);
}
.games__number {
  padding: 8px 16px;
  margin: 32px 32px 16px 32px;
  text-align: center;
  line-height: 110%;
  letter-spacing: 0px;
  vertical-align: bottom;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
  border-radius: 52.58px;
  width: 108px;
  background-color: #F7F7F7;
}
.games__titel {
  padding-left: 32px;
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-bottom: 36px;
}

.mini {
  background-color: #202027;
  min-height: 1470px;
  min-width: 1440px;
  padding-bottom: 144px;
}
.mini__name {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #202027;
  margin-bottom: 24px;
}
.mini__heading {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #FFFFFF;
  padding-top: 46px;
  padding-left: 119px;
  padding-bottom: 72px;
}
.mini__description {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #202027;
}
.mini__carts-right {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  max-width: 1200px;
  max-height: 500px;
  margin-left: 119px;
  border-radius: 30px;
  gap: 48px;
  margin-bottom: 32px;
  justify-content: space-between;
}
.mini__carts-left {
  display: flex;
  flex-direction: row;
  background-color: white;
  max-width: 1200px;
  max-height: 500px;
  margin-left: 119px;
  border-radius: 30px;
  margin-bottom: 32px;
  justify-content: flex-start;
}
.mini__carts-text {
  padding-left: 48px;
  padding-top: 48px;
}
.mini__name {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #202027;
  margin-bottom: 24px;
}
.mini__description {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #202027;
}
.mini__btn {
  min-width: 247px;
  min-height: 66px;
  margin-top: 64px;
  border-radius: 60px;
  border-width: 1px;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 16px;
  padding-left: 28px;
  background-color: #202027;
  color: white;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 600;
}
.mini__btn:hover {
  background-color: transparent;
  color: black;
}

.footer {
  min-width: 1440px;
  min-height: 150px;
  background-color: #BDED35;
}
.footer__text {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  padding-top: 60px;
}

@media (max-width: 376px) {
  .center {
    padding-left: 40px;
    padding-right: 40px;
  }
  .header {
    min-width: 376px;
    min-height: 700px;
  }
  .header__stars {
    display: none;
  }
  .header__welc {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    padding-top: 147px;
    width: 296px;
    height: 280px;
  }
  .header__desc {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 36px;
  }
  .header__btn {
    min-width: 285px;
    min-height: 55px;
    margin-top: 64px;
    border-radius: 60px;
    border-width: 1px;
    padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 28px;
    background-color: #202027;
    color: white;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
  }
  .header__btn:hover {
    background-color: transparent;
    color: black;
  }
  .header__btn-link {
    padding-left: 46px;
  }
  .games {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */